h1,
h5,
span {
    color: #ffffff;
}

body {
    background-color: #373a3c;
}

.container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

.theoplayer-container {
    z-index: 0;
}
